---
title: Le Wagon - Middleman
---

<div>
   <%= partial "layouts/banner" %>
</div>

<div class="container-fluid">
  <h1 class="text-center"> Recent Flats </h1>
  <div class="row ">
    <div class="col-xs-12 col-sm-4">
     <%= partial "layouts/card" %>
    </div>
    <div class="col-xs-12 col-sm-4">
       <%= partial "layouts/card" %>
     </div>
    <div class="col-xs-12 col-sm-4">
       <%= partial "layouts/card" %>
    </div>
  </div>
</div>


